.bundle {
  background-color: rgb(242, 242, 242);
}

.bundle__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.bundle__name-container {
  background-color: rgb(40, 54, 69);

  color: rgb(255, 255, 255);
}

.bundle__item {
  background-color: rgb(255, 255, 255);
}

.bundle__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.bundle__cost {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.bundle__thing {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

@media (min-width: $mobile) {
  .bundle__item {
    width: 280px;
    height: 280px;
    margin: 0 auto;
  }

  .bundle__toggles {
    width: 80px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet) {
  .bundle__wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .bundle__list {
    display: flex;
  }
}
