.footer__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
}

.footer__black {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.footer__red {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  color: rgb(210, 40, 86);
}

.footer__link {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  color: rgb(210, 40, 86);
  text-decoration: none;
}
