@media (min-width: $mobile) {
  .main-nav {
    width: 100%;

    text-align: center;
  }

  .main-nav__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .main-nav__item {
    border-top: 1px solid rgb(72, 84, 97);
    border-bottom: 1px solid rgb(0, 1, 1);
  }

  .main-nav__link {
    display: block;
    width: 100%;
    padding: 15px 0;

    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);

    background-color: rgb(40, 54, 69);

    &:hover {
      color: rgb(210, 40, 86);
    }

    &:active {
      color: rgba(210, 40, 86, 0.3);
    }
  }
}

@media (min-width: $desktop) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    height: auto;
  }

  .main-nav__item {
    border: none;
  }

  .main-nav__link {
    display: inline-block;
    padding: 45px 20px 40px 20px;

    font-weight: 400;
    line-height: 18px;
    text-transform: none;

    background-color: transparent;
  }

  .main-nav__link--active {
    border-bottom: 2px solid rgb(255, 255, 255);

    &:hover {
      color: rgb(255, 255, 255);
    }

    &:active {
      color: rgb(255, 255, 255);
    }
  }
}
