.page-main__header {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: rgb(255, 255, 255);

  background-color: rgb(40, 54, 69);
}

.page-main__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
