@media (min-width: $mobile) {
  .photo-list__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;

    text-align: center;
  }
}

@media (min-width: $tablet) {
  .photo-list {
    display: flex;
    flex-wrap: wrap;
    width: 660px;
    margin: 0 auto;
  }

  .photo-list__item {
    width: 300px;
  }
}

@media (min-width: $desktop) {
  .photo-list__text {
    width: 590px;
  }

  .photo-list {
    width: 940px;
  }
}
