.post__content {
  background-color: rgb(242, 242, 242);
}

.post__name {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.post__name-time {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(40, 53, 69, 0.4);
}

.post__comment {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.post__likes {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(210, 40, 86);
}

@media (min-width: $mobile) {
  .post {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .post__first {
    margin-bottom: 21px;
  }

  .post__item {
    margin-bottom: 21px;
  }

  .post__img-container {
    width: 280px;
    height: 180px;
    margin: 0 auto;
  }

  .post__first-img-container {
    position: relative;

    width: 320px;
    height: 137px;
    margin: 0 auto;
  }

  .post__first-label {
    position: absolute;
    top: 0;
    right: 21px;

    padding: 5px 19px 6px 19px;

    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 255, 255);

    background-color: rgb(210, 40, 86);
  }

  .post__content {
    position: relative;

    width: 280px;
    margin: 0 auto;
    padding: 18px 16px 18px 18px;
    box-sizing: border-box;
  }

  .post__name {
    display: block;
  }

  .post__comment {
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 23px;
  }

  .post__comment--first {
    margin-top: -7px;
    margin-bottom: 0;
    padding-bottom: 35px;
  }

  .post__likes {
    position: absolute;
    bottom: 20px;
    left: 17px;

    display: block;
    margin: 0;
    padding-left: 32px;

    text-transform: uppercase;
  }

  .post__likes--first {
    bottom: 18px;
    left: 17px;
  }

  .post__likes::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 1px;

    display: block;
    width: 13px;
    height: 12px;

    background-image: url("../../img/icon-heart.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet) {
  .post {
    margin: 0;
  }

  .post__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 23px;
  }

  .post__item {
    margin-bottom: 20px;
  }

  .post__img-container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .post__first-img-container {
    width: 660px;
    height: 509px;
  }

  .post__first-img-container img {
    width: 100%;
    height: 100%;
  }

  .post__first-label {
    top: 57px;
    right: 20px;
  }

  .post__first {
    margin: 0 auto;
    margin-bottom: 46px;
  }

  .post__comment--first {
    margin-top: -5px;
    padding-bottom: 0;
  }

  .post__content {
    position: relative;

    min-width: 300px;
    min-height: 155px;
    padding: 23px 30px 23px 27px;
  }

  .post__likes {
    position: absolute;
    bottom: 20px;
    left: 28px;

    padding: 0;
  }

  .post__likes::before {
    top: 5px;
    left: 227px;
  }

  .post__content--first {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 620px;
    min-height: 124px;
  }

  .post__name--first {
    width: 50%;
    order: -2;
  }

  .post__likes--first {
    position: relative;
    left: 0;
    bottom: 0;

    width: 140px;
    order: -1;
    margin-left: auto;
    padding-left: 21px;
    box-sizing: border-box;
  }

  .post__likes--first::before {
    top: 7px;
    left: 128px;
  }
}

@media (min-width: $desktop) {
  .post__list {
    width: 940px;
    margin-bottom: 0;
  }

  .post__first {
    width: 1200px;
    margin-bottom: 50px;
  }

  .post__first-label {
    top: 57px;
    right: 130px;
  }

  .post__item {
    margin-bottom: 54px;
  }

  .post__img-container {
    width: 300px;
    height: 400px;
  }

  .post__content--first {
    width: 940px;
    min-height: 96px;
    margin: 0 auto;
  }

  .post__first-img-container {
    width: 1200px;
    height: 509px;
  }

  .post__comment--first {
    margin-top: 0;
  }

  .post__likes {
    bottom: 24px;
    left: 27px;
  }

  .post__likes--first {
    bottom: 0;
    left: 0;

    margin-right: 2px;
  }
}
