.share__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.share__wrapper {
  background-color: rgb(242, 242, 242);
}

.share__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $mobile) {
  .share {
    margin-bottom: 39px;

    text-align: center;
  }

  .share__text {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 43px;
  }

  .share__buttons {
    padding-top: 20px;
  }

  .share__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 0 38px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  .share__item {
    position: relative;

    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
  }

  .share__icon--crop {
    width: 44px;
  }

  .share__item--fill {
    width: 48px;
  }

  .share__item--contrast {
    width: 38px;
  }

  .share__icon {
    fill: rgb(181, 185, 190);

    cursor: pointer;

    &:hover {
      fill: rgb(141, 148, 155);
    }
  }

  .share__icon--active {
    fill: rgb(210, 40, 86);
  }

  .share__slider {
    position: absolute;
    top: 62px;
    left: -18px;

    display: none;
    width: 240px;
    height: 50px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
    box-sizing: border-box;
  }

  .share__slider--active {
    display: block;
  }

  .share__slider-line {
    width: 100%;
    height: 2px;
    background-color: rgb(40, 54, 69);

    cursor: pointer;
  }

  .share__slider-icon {
    position: absolute;
    top: 17px;
    right: 33px;

    cursor: pointer;
  }

  .share__slider-line:active .share__slider-circle,
  .share__slider-icon:active .share__slider-circle {
    fill: rgb(210, 40, 86);
  }

  .share__button-container {
    display: flex;
    flex-direction: column;
    padding-top: 39px;
    padding-bottom: 30px;

    border-top: 1px solid rgb(221, 223, 224);
  }

  .share__button {
    @include button-reset;

    width: 280px;
    margin: 0 auto;
    margin-bottom: 13px;
    padding: 15px 0;

    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: rgb(210, 40, 86);

    border: 3px solid rgb(210, 40, 86);
    border-radius: 40px;
  }

  .share__button--post:hover {
    color: rgb(255, 255, 255);

    background-color: rgb(210, 40, 86);
  }

  .share__button--post:active {
    color: rgba(255, 255, 255, 0.2);

    background-color: rgb(210, 40, 86);
  }

  .share__button--cancel {
    color: rgba(40, 54, 69, 0.1);

    border-color: rgba(40, 54, 69, 0.1);

    &:hover {
      color: rgba(40, 54, 69, 0.3);

      border-color: rgba(40, 54, 69, 0.3);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);

      background-color: rgba(40, 54, 69, 0.3);

      border-color: transparent;
    }
  }
}

@media (min-width: $tablet) {
  .share {
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
  }

  .share__text {
    width: auto;
    margin-bottom: 70px;

    font-size: 18px;
  }

  .share__wrapper {
    width: 100%;
  }

  .share__image {
    width: 300px;
    height: 400px;
  }

  .share__container {
    width: 300px;
  }

  .share__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
    padding-top: 56px;
  }

  .share__list {
    display: block;
    width: 300px;
    margin: 0;
    margin-left: 21px;
    padding: 0;
    padding-left: 3px;
    padding-right: 25px;
  }

  .share__item {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: auto;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-left: 4px;
    padding-top: 8px;
    box-sizing: border-box;

    border-bottom: 1px solid rgb(221, 223, 224);
  }

  .share__item--fill {
    padding-top: 27px;
  }

  .share__item--contrast {
    padding-top: 21px;
  }

  .share__icon {
    height: 22px;
    width: 22px;

    fill: rgb(210, 40, 86);

    cursor: default;

    &:hover {
      fill: rgb(210, 40, 86);
    }
  }

  .share__icon--fill {
    width: 26px;
  }

  .share__icon--contrast {
    width: 26px;
    height: 17px;
  }

  .share__slider {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    width: 202px;
    height: auto;
    padding: 10px 0;
    margin: 0;
  }

  .share__slider-icon--crop {
    top: 5px;
    right: 42px;
  }

  .share__slider-icon--fill {
    top: 5px;
    left: 25px;
  }

  .share__slider-icon--contrast {
    top: 5px;
    left: 96px;
  }

  .share__slider-line:active .share__slider-circle,
  .share__slider-icon:active .share__slider-circle {
    fill: rgb(210, 40, 86);
  }

  .share__button-container {
    width: 300px;
    padding-top: 66px;
    padding-left: 5px;

    border: none;
  }

  .share__button {
    width: 260px;
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop) {
  .share {
    margin-bottom: 100px;
  }

  .share__wrapper {
    width: 940px;
    margin: 0 auto;
  }

  .share__buttons {
    width: 800px;
    padding-top: 53px;
    padding-bottom: 25px;
  }

  .share__image {
    margin-left: 10px;
  }

  .share__container {
    width: 410px;
  }

  .share__list {
    width: 410px;
    padding: 0;
    margin: 0;
    margin-left: 10px;
  }

  .share__item {
    padding: 14px 0;
    padding-left: 1px;
    padding-right: 27px;
  }

  .share__item:nth-child(1) {
    padding-top: 0;
    padding-bottom: 12px;
  }

  .share__item--contrast {
    padding-top: 15px;
    padding-left: 8px;
  }

  .share__icon {
    width: 45px;
    height: 45px;
  }

  .share__icon--fill {
    width: 49px;
    height: 48px;
  }

  .share__icon--contrast {
    width: 32px;
    height: 32px;
  }

  .share__slider-icon--crop {
    top: 3px;
    right: 205px;
  }

  .share__slider-icon--fill {
    top: 3px;
    left: 244px;
  }

  .share__slider-icon--contrast {
    top: 3px;
    left: 157px;
  }

  .share__slider {
    width: 288px;
  }

  .share__button-container {
    flex-direction: row;
    width: 410px;
    margin-left: 5px;
    padding-top: 150px;
  }

  .share__button {
    width: 183px;
    margin: 0;
  }

  .share__button--cancel {
    margin-left: auto;
  }
}
